In [1]:
import pandas as pd
import numpy

In [2]:
data = pd.read_csv("data/iris.csv")

In [3]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
data= data.drop("Id",axis=1)

In [5]:
#LabelEncoder will sort the categories and label from 0,1,2 onwards

from sklearn import preprocessing
le = preprocessing.LabelEncoder()
data['Species'] = le.fit_transform(data['Species'])

In [6]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [7]:
X = data.drop("Species",axis=1)
y = data['Species']

In [9]:
from sklearn.model_selection import train_test_split #this funciton split x and y randomnly-
#so for each time the output will be diffrent.to keep the data consistant we have to set a seed.random_state!=0, we are setting a seed.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.33,random_state=42) #0.20 data will be for training.

In [10]:
#importing Gaussian Naive Bayes Algorithm
from sklearn.naive_bayes import GaussianNB

In [11]:
classifier = GaussianNB()

In [12]:
classifier.fit(X_train,y_train)

GaussianNB()

In [13]:
y_pred = classifier.predict(X_test)

In [14]:
#confusison matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred) #only the diagonal values are true predicitons.

array([[19,  0,  0],
       [ 0, 14,  1],
       [ 0,  1, 15]])

In [15]:
#accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.96

In [16]:
#END